# Entrega 2: Descripción del Dataset y su Origen
## Introducción
La Entrega 2 consiste en  el proceso de obtención del  dataset utilizado para el proyecto de aprendizaje automático y su origen. En este notebook, se proporcionará información sobre el dataset, incluyendo su descripción, origen, estadísticas descriptivas y variables incluidas. y preprocesamiento de los datos 

## Objetivos
Los objetivos de esta entrega son:
* Describir el dataset utilizado para el proyecto de aprendizaje automático
* Proporcionar información sobre el origen del dataset
* Incluir estadísticas descriptivas y variables incluidas en el dataset

In [1]:
# Importar librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Cargar dataset
url = 'https://archive.ics.uci.edu/static/public/419/data.csv'
df = pd.read_csv(url)
# Mostrar las primeras filas
df.head(15)

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jaundice,autism,country_of_res,used_app_before,result,age_desc,relation,class
0,1,1,0,0,1,1,0,1,0,0,...,m,Others,no,no,Jordan,no,5,'4-11 years',Parent,NO
1,1,1,0,0,1,1,0,1,0,0,...,m,'Middle Eastern ',no,no,Jordan,no,5,'4-11 years',Parent,NO
2,1,1,0,0,0,1,1,1,0,0,...,m,NaN,no,no,Jordan,yes,5,'4-11 years',NaN,NO
3,0,1,0,0,1,1,0,0,0,1,...,f,NaN,yes,no,Jordan,no,4,'4-11 years',NaN,NO
4,1,1,1,1,1,1,1,1,1,1,...,m,Others,yes,no,'United States',no,10,'4-11 years',Parent,YES
5,0,0,1,0,1,1,0,1,0,1,...,m,NaN,no,yes,Egypt,no,5,'4-11 years',NaN,NO
6,1,0,1,1,1,1,0,1,0,1,...,m,White-European,no,no,'United Kingdom',no,7,'4-11 years',Parent,YES
7,1,1,1,1,1,1,1,1,0,0,...,f,'Middle Eastern ',no,no,Bahrain,no,8,'4-11 years',Parent,YES
8,1,1,1,1,1,1,1,0,0,0,...,f,'Middle Eastern ',no,no,Bahrain,no,7,'4-11 years',Parent,YES
9,0,0,1,1,1,0,1,1,0,0,...,f,NaN,no,yes,Austria,no,5,'4-11 years',NaN,NO
10,1,0,0,0,1,1,1,1,1,1,...,m,White-European,yes,no,'United Kingdom',no,7,'4-11 years',Self,YES
11,0,1,0,0,1,0,0,0,0,1,...,f,NaN,no,no,Kuwait,no,3,'4-11 years',NaN,NO
12,0,1,1,1,1,1,1,1,1,1,...,m,White-European,yes,no,'United States',no,9,'4-11 years',Parent,YES
13,1,0,0,0,0,0,1,0,0,0,...,f,Black,no,no,'United Arab Emirates',no,2,'4-11 years',Parent,NO
14,1,1,1,1,1,1,1,1,1,1,...,m,White-European,no,no,Europe,no,10,'4-11 years',Parent,YES

In [ ]:
# Descripción del dataset
print("Nombre del dataset: Autistic Spectrum Disorder Screening Data for Children")
print("Fuente: UCI Machine Learning Repository")
print("Propósito: Evaluar la presencia de Trastorno del Espectro Autista en niños")

In [ ]:
# Origen del dataset
print("Fecha de creación: 2017")
print("Autor: Fadi Thabtah")
print("Métodos de recopilación de datos: Cuestionario de screening para TEA")
print("Métodos de limpieza y procesamiento de datos: No especificados")

In [5]:
# Verificar la estructura del dataset
print("Número de filas y columnas:", df.shape)
print("Tipos de datos:", df.info())
print("Presencia de valores nulos:", df.isnull().sum())

Número de filas y columnas: (292, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292 entries, 0 to 291
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   A1_Score         292 non-null    int64
 1   A2_Score         292 non-null    int64
 2   A3_Score         292 non-null    int64
 3   A4_Score         292 non-null    int64
 4   A5_Score         292 non-null    int64
 5   A6_Score         292 non-null    int64
 6   A7_Score         292 non-null    int64
 7   A8_Score         292 non-null    int64
 8   A9_Score         292 non-null    int64
 9   A10_Score        292 non-null    int64
 10  age              288 non-null    float64
 11  gender           292 non-null    object
 12  ethnicity        249 non-null    object
 13  jaundice         292 non-null    object
 14  autism           292 non-null    object
 15  country_of_res   292 non-null    object
 16  used_app_before  292 non-null    object
 17  result           292 non-null    int64
 18  age_desc         292 non-null    object
 19  relation         249 non-null    object
 20  class            292 non-null    object
dtypes: float64(1), int64(11), object(9)
memory usage: 48.0+ KB
Tipos de datos: None
Presencia de valores nulos: A1_Score            0
A2_Score            0
A3_Score            0
A4_Score            0
A5_Score            0
A6_Score            0
A7_Score            0
A8_Score            0
A9_Score            0
A10_Score           0
age                 4
gender              0
ethnicity          43
jaundice            0
autism              0
country_of_res      0
used_app_before     0
result              0
age_desc            0
relation           43
class               0
dtype: int64

In [7]:
# Estadísticas descriptivas
print("Estadísticas descriptivas del dataset:")
print(df.describe())

Estadísticas descriptivas del dataset:
         A1_Score    A2_Score    A3_Score    A4_Score    A5_Score    A6_Score  \
count  292.000000  292.000000  292.000000  292.000000  292.000000  292.000000
mean     0.633562    0.534247    0.743151    0.551370    0.743151    0.712329
std      0.482658    0.499682    0.437646    0.498208    0.437646    0.453454
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000
75%      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

         A7_Score    A8_Score    A9_Score   A10_Score         age      result
count  292.000000  292.000000  292.000000  292.000000  288.000000  292.000000
mean     0.606164    0.496575    0.493151    0.726027    6.354167    6.239726
std      0.489438    0.500847    0.500811    0.446761    2.365456    2.284882
min      0.000000    0.000000    0.000000    0.000000    4.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    4.000000    5.000000
50%      1.000000    0.000000    0.000000    1.000000    6.000000    6.000000
75%      1.000000    1.000000    1.000000    1.000000    8.000000    8.000000
max      1.000000    1.000000    1.000000    1.000000   11.000000   10.000000

In [9]:
# Verificar la estructura de las variables
print("Nombre de las variables:", df.columns)
print("Tipos de variables:", df.dtypes)

Nombre de las variables: Index(['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score', 'A6_Score',
       'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score', 'age', 'gender',
       'ethnicity', 'jaundice', 'autism', 'country_of_res', 'used_app_before',
       'result', 'age_desc', 'relation', 'class'],
      dtype='object')
Tipos de variables: A1_Score             int64
A2_Score             int64
A3_Score             int64
A4_Score             int64
A5_Score             int64
A6_Score             int64
A7_Score             int64
A8_Score             int64
A9_Score             int64
A10_Score            int64
age                float64
gender              object
ethnicity           object
jaundice            object
autism              object
country_of_res      object
used_app_before     object
result               int64
age_desc            object
relation            object
class               object
dtype: object

In [ ]:
# Archivo README
print("El archivo README contiene información sobre el dataset, incluyendo su descripción, origen y estadísticas descriptivas.")
print("El archivo README se puede acceder en el repositorio de GitHub y se puede utilizar para entender mejor el dataset.")

In [11]:
# Eliminar variables no relevantes
df = df.drop(['country_of_res', 'ethnicity', 'used_app_before', 'result', 'age_desc', 'relation'], axis=1)

In [13]:
# Verificar la presencia de valores nulos
print("Presencia de valores nulos después de eliminar variables:", df.isnull().sum())

Presencia de valores nulos después de eliminar variables: A1_Score     0
A2_Score     0
A3_Score     0
A4_Score     0
A5_Score     0
A6_Score     0
A7_Score     0
A8_Score     0
A9_Score     0
A10_Score    0
age          4
gender       0
jaundice     0
autism       0
class        0
dtype: int64

In [15]:
# Reemplazar valores faltantes de age con la moda
df['age'] = df['age'].fillna(df['age'].mode()[0])

In [17]:
# Verificar que los valores faltantes hayan sido reemplazados correctamente
print("Presencia de valores nulos después de reemplazar valores faltantes:", df['age'].isnull().sum())

Presencia de valores nulos después de reemplazar valores faltantes: 0

In [19]:
# Verificar la estadística de la columna age después de reemplazar los valores faltantes
print("Estadísticas de la columna age después de reemplazar valores faltantes:")
print(df['age'].describe())

Estadísticas de la columna age después de reemplazar valores faltantes:
count    292.000000
mean       6.321918
std        2.365081
min        4.000000
25%        4.000000
50%        6.000000
75%        8.000000
max       11.000000
Name: age, dtype: float64